<section class="py-5 text-center container main-visual shadow">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto top">
        <h1 class="fw-light">Health CARE</h1>
        <p class="lead text-muted">
        気候の変化や流行風邪、ウイルスなどから私たちのカラダと健康を守るために大切なのは免疫力です。
        いつもの暮らしにプラスα、免疫力UPを意識した生活を取り入れる為に、簡単なコースに毎日取り組んでみましょう！！</p>
        <p>
          <%= link_to 'コース一覧を見る',  courses_path, class: "btn btn-outline-primary my-2" %>
        </p>
      </div>
    </div>
  </section>