<div>
  <div class="col-md-4 offset-md-4">
    <h2 calss="pt-5">掲示板</h2>
    <%= render "form" %>
  </div>
</div>
<div>
  <table class="post_messages table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th style="width:15%">ニックネーム</th>
        <th style="width:50%">メッセージ</th>
        <th style="width:10%">投稿日時</th>
        <th style="width:15%">画像</th>
        <th style="width:10%">いいね</th>
      </tr>
    </thead>
    <tbody id="messages">
      <%= render 'index', post_messages: @post_messages %>
    </tbody>
  </table>
</div>