<h3 calss="pt-5"><i class="fas fas fa-file-signature"></i>掲示板</h3>

<div class="row g-0">
  <div class="col-6 col-md-4">
    <%= render "form" %>
  </div>
  <div class="col-sm-6 col-md-8">
    <h5>意気込みや健康の豆知識などのメッセージを投稿して、楽しく交流しましょう！</h5>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div>
        <i class="fas fa-exclamation-triangle"></i> いくつか注意事項があります。<br>
        ・公序良俗に反しないもの<br>・誹謗中傷又は、他人の名誉もしくは信用を毀損する内容を含まないもの<br>・第三者のプライバシーを侵害していないもの<br>
      </div>
    </div>
  </div>
</div>

<table class="post_messages table table-hover table-bordered">
  <thead>
    <tr class="table-secondary">
      <th style="width:15%">ニックネーム</th>
      <th style="width:50%">メッセージ</th>
      <th style="width:10%">投稿日時</th>
      <th style="width:15%">画像</th>
      <th style="width:10%">いいね</th>
    </tr>
  </thead>
  <tbody id="messages">
    <%= render 'index', post_messages: @post_messages %>
  </tbody>
</table>
<%= paginate @post_messages %>
