<section class="wrapper flex">
	<div class="inner">
		<% if params[:category_id] %>
			<h2 class="section-ttl"><%= @category.name %>のコース一覧 </h2>
		<% else %>
			<h2 class="section-ttl">コース一覧 </h2>
		<% end %>
		<h3 class="text-right">
			<%= link_to "+", new_admin_course_path, class: "new_admin_item" %>
		</h3>
		<% if @courses.first %> <!-- @item.existsと同義、SQL1個分削減(?) -->
			<%= render 'admin/courses/index', courses: @courses %>
		<% else %>
			<h3>対応するコースはありませんでした。</h3>
		<% end %>
	</div>
</section>